body {
    width: 100%;
    height: 100%;
}

.frame {
    font-size: 50;
}

.wrapping_container {
    height: 420%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.subtext {
    margin-top: 200px;
    opacity: 0;
}
