.title {
    margin-top: 5%;
    font-size: 200px;
    width: 100vw;
    text-align: center;
    color: #ff5757;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start {
    font-size: 120px;
    text-align: center;
    color: #8c52ff;
    background-color: none;
    background: none;
    border: none;
    width: 30vw;
}

.languages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20vw;
    font-size: 30px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 70px;
        width: 100%;
        text-align: center;
    }
    .container {
        justify-content: space-around;
    }
}
