a {
    background: radial-gradient(#ff5757 0%, rgb(255, 255, 255) 87%);
    color: #8c52ff;
    text-decoration: none;
}

a:hover {
    background: radial-gradient(#ff5757 0%, rgb(255, 255, 255) 87%);
}

.scroll_container {
    height: 100%;
    width: 100%;
    /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
