* {
    background-color: none;
}
body {
    height: 100%;
    width: 100%;
}

.container {
    z-index: 100;
}

.buttons {
    height: 100%;
    width: 6.5%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    background-color: #ff5757;
}

.buttons:hover {
    border: 2px solid yellow;
}

.buttons:focus {
    border: 2px solid #8c52ff;
}

.home {
    background-image: url("../imgs/home.png");
}

.one {
    background-image: url("../imgs/oko.png");
}

.two {
    background-image: url("../imgs/leptir.png");
}
.three {
    background-image: url("../imgs/mjesec.png");
}

.four {
    background-image: url("../imgs/casa.png");
}
.five {
    background-image: url("../imgs/crv.png");
}
.six {
    background-image: url("../imgs/grob.png");
}
.seven {
    background-image: url("../imgs/maslacak.png");
}

.eight {
    background-image: url("../imgs/naranca.png");
}

.nine {
    background-image: url("../imgs/tree.png");
}
.ten {
    background-image: url("../imgs/zora.png");
}
