* {
    background-color: none;
}
body {
    height: 100%;
    width: 100%;
}

.stepper-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ff5757;
    position: fixed;
    height: 10%;
    bottom: 0;
    opacity: 1;
    z-index: 100;
}

.buttons {
    height: 100%;
    width: 6%;
    background-size: 100px 100px;
    border: none;
}

.buttons:hover {
    border: 2px solid yellow;
}

.buttons:focus {
    border: 2px solid #8c52ff;
}

.home-btn {
    background-image: url("/images/home.png");
}

.one-btn {
    background-image: url("/images/oko.png");
}

.two-btn {
    background-image: url("/images/leptir.png");
}

.three-btn {
    background-image: url("/images/mjesec.png");
}
.four-btn {
    background-image: url("/images/casa.png");
}
.five-btn {
    background-image: url("/images/crv.png");
}
.six-btn {
    background-image: url("/images/grob.png");
}
.seven-btn {
    background-image: url("/images/maslacak.png");
}

.eight-btn {
    background-image: url("/images/naranca.png");
}

.nine-btn {
    background-image: url("/images/tree.png");
}
.ten-btn {
    background-image: url("/images/zora.png");
}
