*:focus {
    outline: none;
}
body {
    height: 100%;
    width: 100%;
}

.menu-toggle-btn {
    position: fixed;
    z-index: 200;
    height: 50px;
    width: 50px;
    background-size: 100%;
    border: none;
    background: none;
}

.logo-red {
    height: 50px;
    width: 50px;
}

.full-screen-btn {
    right: 0;
    position: fixed;
    background: none;
    height: 80px;
    width: 80px;
    border: none;
    z-index: 100;
}

.full-screen-btn:focus {
    border: 1px white solid;
}

.logo-fullscreen {
    height: 80px;
    width: 80px;
}

/* .button-text {
    font-size: 20px;
} */
