*:focus {
    outline: none;
}

* {
    font-family: "Amatic SC", cursive;
    background-color: none;
}
html,
body,
#root {
    height: 100%;
    width: 100%;
}

.menu-toggle-btn {
    position: fixed;
    z-index: 200;
    height: 50px;
    width: 50px;
    background-size: 100%;
    border: none;
    background: none;
}

.logo-red {
    height: 50px;
    width: 50px;
}

.full-screen-btn {
    right: 0;
    position: fixed;
    background: none;
    height: 80px;
    width: 80px;
    border: none;
    z-index: 100;
}

.logo-fullscreen {
    height: 80px;
    width: 80px;
}

@media screen and (max-width: 768px) {
    .full-screen-btn {
        height: 0px;
        width: 0px;
    }
    .logo-fullscreen {
        height: 0px;
        width: 0px;
    }
}
