body {
    width: 100%;
    height: 100%;
}

.frame {
    display: flex;
    flex-direction: column;
    width: 500px;
}

p {
    font-size: 45px;
}

.paragraf {
    background-color: white;
}

.wrapping-container {
    height: 4500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-words {
    padding-top: 30px;
    font-family: "Stint Ultra Condensed", cursive;
    font-size: 40px;
    overflow: hidden;
    white-space: nowrap;
    animation: type 7s steps(55, end);
    letter-spacing: 2px;
    margin: 0 auto;
    text-align: center;
}

@keyframes type {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.text {
    opacity: 0;
    font-size: 100px;
}

.subtext {
    margin-top: 200px;
    opacity: 0;
}

.text-align-center {
    text-align: center;
}
