.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    opacity: 0;
    font-size: 100px;
}

.subtext {
    margin-top: 50px;
    opacity: 0;
}
